@import '../../constants/resources';

.home-nav-item {
  display: inline-block;
  text-decoration: none;
  width: 90px;
  position: relative;
  &:nth-child(2) {
    margin: 0 150px;
    top: -30px;
  }
  &__icon {
    float: left;
    color: $colorWhite;
    border: 3px solid $colorWhite;
    border-radius: 90%;
    font-size: 40px;
    line-height: 90px;
    width: 90px;
    height: 90px;
    transition: all .5s;
    span {
      position: relative;
      &.icon_info {
        top: -5px;
      }
      &.icon_tiles {
        top: -3px;
      }
      &.icon_envelope {
        top: -2px;
      }
    }
  }
  &__text {
    color: $colorWhite;
    font-size: 25px;
    text-transform: uppercase;
    position: absolute;
    bottom: -45px;
    left: 50%;
    @include transform(translateX(-50%));
    transition: all .5s;
  }

  @media #{$mediaHover} {
    &:hover & {
      &__icon {
        background-color: $colorGreenLight;
        border-color: $colorGreenLight;
        transition: all .2s;
      }
    }
  }

  @media #{$mediaMobile} {
    width: 65px;
    &:nth-child(2) {
      margin: 0 calc((100vw - 240px) / 2);
    }
    &__icon {
      border-width: 2px;
      line-height: 65px;
      font-size: 27px;
      width: 65px;
      height: 65px;
    }
    &__text {
      font-size: 18px;
      bottom: -35px;
    }
  }
}