@import "~styles/resources";

.page-title {
  float: left;
  width: 100%;
  height: $height-title;
  span {
    float: right;
    font-size: 36px;
    border-bottom: 2px solid #000;
    text-transform: uppercase;
    padding-top: 20px;
    padding-bottom: 5px;
    padding-left: 20px;
    width: calc(50% + 100px);
  }
  &--theme {
    &-white {
      span {
        color: $color-white;
        border-color: $color-white;
      }
    }
    &-grey {
      span {
        color: $color-grey;
        border-color: $color-grey;
      }
    }
  }
}