@import '../../constants/resources';

.about {
  color: $colorWhite;
  &__description {
    float: left;
    width: 50%;
    min-height: calc(100vh - #{$heightHeader});
    position: relative;
  }
  &__content {
    background-color: $colorGreenDark;
    width: 100%;
    height: calc(100vh - #{$heightHeader});
    @include animation(fadein 2s);
  }
}