@import './fonts/fonts';
@import './animations';

// COLORS
$colorWhite: #ffffff;
$colorBlack: #000;
$colorWhiteDefault: #f5f5f5;
$colorBlackDefault: #0b101c;
$colorGreenLight: #0eb679;
$colorGreenDark: #06734b;
$colorGrey: #1b242f;

// SIZES
$widthMobile: 600px;
$widthTablet: 800px;
$heightHeader: 60px;
$heightTitle: 70px;

// MEDIA
$mediaHover: "not all and (hover: none)";
$mediaMobile: "screen and (max-width: #{$widthMobile})";
$mediaTablet: "screen and (max-width: #{$widthTablet})";

// CLASSES
.page {
  float: left;
  overflow: hidden;
  padding-top: $heightHeader;
  width: 100%;
  min-height: 100vh;
  position: relative;
}
.desktop-hide {
  display: none !important;
  @media #{$mediaMobile} {
    display: block !important;
  }
}
.mobile-hide {
  @media #{$mediaMobile} {
    display: none !important;
  }
}
.hidden {
  display: none;
}

// MIXINS
@mixin transform($value) {
  transform: $value;
  -webkit-transform: $value;
  -moz-transform: $value;
  -ms-transform: $value;
  -o-transform: $value;
}
