@import '~styles/resources';

.skills {
  float: left;
  border-left: 2px solid $color-white;
  padding: 10px 0;
  padding-left: 15px;
  width: 100%;
  @include animation(fadein 2s);
  h2 {
    font-size: 28px;
    text-transform: uppercase;
    margin-bottom: 25px;
  }
  &__list {
    float: left;
    width: 100%;
    ul {
      float: left;
      width: 50%;
      &:first-child {
        padding-right: 35px;
      }
      &:last-child {
        padding-left: 35px;
      }
    }
    &__item {
      float: left;
      font-size: 16px;
      line-height: 30px;
      margin-bottom: 15px;
      width: 100%;
      position: relative;
      &:before, &__percentage {
        content: '';
        height: 5px;
        position: absolute;
        bottom: -5px;
        left: 0;
      }
      &:before {
        background-color: $color-white;
        width: 100%;
      }
      &__percentage {
        background-color: $color-green-light;
      }
      h3 {
        float: left;
        color: $color-green-light;
      }
      span {
        float: right;
      }
    }
  }

  @media #{$media-mobile} {
    &__list {
      ul {
        width: 100%;
        &:first-child {
          padding-right: 10px;
        }
        &:last-child {
          padding-left: 0;
          padding-right: 10px;
        }
      }
    }
  }
}