@import '~styles/resources';

.hexagon {
  overflow: hidden;
  visibility: hidden;
  @include transform(rotate(120deg));
  &__inner {
    overflow: hidden;
    width: 100%;
    height: 100%;
    @include transform(rotate(-60deg));
    &__content {
      background-color: $colorGreenLight;
      background-repeat: no-repeat;
      background-position: center center;
      background-size: cover;
      overflow: hidden;
      width: 100%;
      height: 100%;
      visibility: visible;
      @include transform(rotate(-60deg));
    }
  }
}

// .hexagon {
//   background-image: url('images/hexagon.svg');
//   background-size: contain;
//   background-repeat: no-repeat;
//   background-position: center center;
// }