@import '../../constants/resources';

.hexagon {
  background-image: url('../../images/hexagon.svg');
  background-size: contain;
  background-position: center center;
  background-repeat: no-repeat;
  text-align: center;
}