@import '~styles/resources';

.home {
  text-align: center;
  padding-top: 0 !important;
  height: 100vh;
  position: relative;
  &__logo {
    margin: 0 auto;
    margin-top: -130px;
    img {
      margin-top: 145px;
      width: 100px;
    }
  }
  &__content {
    float: left;
    color: $colorWhite;
    width: 100%;
    height: calc(100vh - 130px);
  }
  &__title {
    height: 40%;
    text-align: center;
    vertical-align: middle;
    h1 {
      color: $colorGreenLight;
      font-size: 85px;
      margin-bottom: 20px;
    }
    h2 {
      color: $colorWhite;
      font-size: 40px;
    }
  }
  &__nav {
    text-align: center;
    vertical-align: middle;
    width: 100%;
  }

  @media #{$mediaMobile} {
    &__title {
      vertical-align: bottom;
      height: 40%;
      h1 {
        font-size: 55px;
      }
      h2 {
        font-size: 25px;
        span {
          float: left;
          margin: 5px 0;
          width: 100%;
        }
      }
    }
  }
}