@import '~styles/resources';

.description {
  float: left;
  width: 100%;
  @include animation(fadein 2s);
  &__picture {
    margin: 0 auto;
    width: 260px;
    height: 220px;
  }
  &__title {
    float: left;
    text-align: center;
    margin-top: 15px;
    width: 100%;
    position: relative;
    h2 {
      font-size: 24px;
    }
    &__web {
      text-align: center;
      width: 100px;
      position: absolute;
      top: -40px;
      &:first-child {
        left: calc(50% - 50px - 120px);
      }
      &:last-child {
        right: calc(50% - 50px - 120px);
      }
      &__hex {
        margin: 0 auto;
        margin-bottom: 10px;
        width: 80px;
        height: 60px;
        span {
          line-height: 64px;
          font-size: 30px;
          &.icon-code {
            line-height: 60px;
          }
        }
      }
      h3 {
        font-weight: normal;
        font-size: 18px;
      }
    }
  }
  &__text {
    float: left;
    font-size: 18px;
    line-height: 30px;
    text-align: center;
    padding: 0 15%;
    margin-top: 100px;
    width: 100%;
    p:not(:last-child) {
      margin-bottom: 30px;
    }
  }

  @media #{$media-mobile} {
    &__text {
      padding: 0 10px;
    }
  }

}