@import '~styles/resources';

.project-details {
  background-color: $color-white;
  width: 80vw;
  max-width: 1100px;
  height: 80vh;
  max-height: 800px;
  position: relative;
  @include animation(growIn .5s);
  &__content {
    float: left;
    width: 100%;
    height: 100%;
    position: relative;
    @include animation(fadein 2s);
  }
  &__carousel {
    width: 100%;
    position: relative;
    &:before {
      content: '';
      background-color: rgba($color-black, 0.75);
      width: 100%;
      height: 100%;
      position: absolute;
      top: 0;
      left: 0;
    }
    &__item {
      display: flex;
      align-items: center;
      justify-content: center;
      padding: 20px 0;
      width: 100%;
      height: 50vh;
      position: relative;
      z-index: 100;
      &__desktop {
        border: 1px solid rgba($color-white, 0.5);
        width: auto;
        height: 100%;
      }
      &__mobile {
        border: 1px solid rgba($color-white, 0.5);
        margin-left: -50px;
        width: auto;
        height: 90%;
      }
    }
    .slider-control-bottomcenter {
      display: none;
    }
  }
  &__close {
    cursor: pointer;
    background-color: transparent;
    border: none;
    outline: none;
    color: $color-grey;
    font-size: 35px;
    opacity: 0.5;
    position: absolute;
    bottom: 5px;
    right: 5px;
    z-index: 1001;
    transition: all .2s;
    &:hover {
      opacity: 1;
    }
  }
}