@import '~styles/resources';

.background {
  background-size: cover;
  background-position: top center;
  background-attachment: fixed;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: -100;
  &__overlay {
    background-color: $color-black-default;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
  }

  @media #{$media-tablet} {
    background-attachment: scroll;
  }
}